/*Header/Hamburguer/Login*/
:root{
    --poppins:'Poppins', sans-serif;
    --cor1:#2E2D37;
    --cor2:#595959;
    --cor3:#8C8C8C;
    --cor-detaque:#f3123c;
}
*{
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    position: relative;
    justify-content: space-between; 
    height: 70px;
    width: 100%;
    background-color: white;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.103);
 }
 header img{
     width: 25px;
 }
 #logo{
     padding: 10px;
 }
 #logo img{
     position: absolute;
     top: 10px;
     left: 30px;
     width: 150px;
     height: 50px;
 }
 #abrirNav{
    
     top: 35%;
     right: 20px;
     position: absolute;
     background-color: transparent;
     border: none;
     cursor: pointer;
 }
#menuDesktop{
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 100%;
   
     
}
.departament{
    box-sizing: border-box;
    font-weight: 400;
    font-size: 0.8em;
    font-family: var(--poppins);
    margin: auto;
    cursor: pointer;
}


