/* NAVBAR */
#headerNavbar{
    position: relative;
    display: flex;
    background-color:#2E2D37 ;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.185);
    padding: 10px;
}
#headerNavbar>a{
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}
#headerNavbar>button{
    right: 10px;
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#headerNavbar img{
    width: 25px;
}
.fotoUser{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    background-image: url('../imagens/usuario.png');
    background-position: center;
    background-size: cover;
}
#container-navbar{
    display: none;
    position: relative;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:aliceblue;
    color: #404040;
    transition-duration: .5s;
}
#menu{
    color: #404040;
    font-family: var(--poppins);
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
summary{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    list-style: none;
    text-align: left;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    padding:0px 8px;
}
summary>h1{
    text-align: left;
    padding: 10px;
    font-family: var(--poppins);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.719);
}
summary>img{
    padding-top: 10px;
    height: 24px;
    transition-duration: .5s;
}
.itemDetails{
    display: flex;
  background-color: aliceblue;
  padding:5px;
  transition-duration: .5s;
}
.itemDetails>a{
 margin: -5px;

 font-size: 1em;
 padding: 5px;
 margin-left: 2px;
 font-family: var(--poppins);
 font-weight: 500;
 text-decoration: none;
 color: rgba(0, 0, 0, 0.719);

}
.itemDetails:hover{
    background-color: #4040404b;
}
.footer{
     position: absolute;
     bottom: 0;
     width: 100%;
    background-color:var(--cor1) ;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    
}